body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5; 
}

h1{
  color:aqua;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

image{
  border-radius: 5px;
  float: left;
  padding: 5px;
  width: 200px;
}
